name: OnPushNewVersion

on:
  push:
    #branches: [ master ]  
    tags:
    - 'v*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
   
      - name: Download release asset
        uses: dsaltares/fetch-gh-release-asset@master
        with:
            #version: tags/${{ env.RELEASE }}
          version: tags/v1.6.1.2
          file: SetupStPlayer.zip
          target: ./
          # token: ${{ secrets.DEPLOY_TOKEN }}